    body{
    background-color: rgb(192, 188, 188);
    font-family: 'Abril Fatface',
    serif;
    font-family: 'DM Sans',
    sans-serif;
    font-family: 'Roboto',

    }
        .weather-app {
            background: white;
            max-width: 600px;
            margin: 60px auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 30px 50px
        }

    header {
        border-bottom: 1px solid rgb(196, 192, 192);
    }

    a {
        color: rgb(109, 10, 190);
    }

    .search-form-input {
        background-color: rgb(223, 231, 238);
        font-size: 16px;
        border: none;
        border-radius: 10px;
        max-width: 80%;
        padding: 18px;

    }

    .submit-button {
        background-color: rgb(109, 10, 190);
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 10px;
        max-width: 80%;
        padding: 18px;
    }

    .weather-app-temparature-container {
        display: flex;
        display: flex;
        justify-content: flex-end;
    }

    .weather-app-temparature-icon {
        font-size: 88px;
        margin-left: 10px;
        font-weight: bold;
    }

    .weather-app-emoji {
        font-size: 44px;
        margin-top: 22px;
    }

    .weather-app-temparature-unit {
        margin-top: 16px;
        font-size: 28px;
    }

    .weather-app-city {
        margin: 0;
        font-size: 38px;
        line-height: 48px;
    }

    .weather-app-details {
        font-size: 16px;
        color: grey;
        line-height: 20px;
    }

    strong {
        color: rgb(83, 9, 38);
    }

    main {
        padding: 30px 0;
    }

    footer {
        border-bottom: 1px solid rgb(196, 192, 192);
        padding: 30px 0 0 0;
        text-align: center;
        font-size: 13px;
    }